---
- name: Get dotfiles directory
  ansible.builtin.set_fact:
    dotfiles_dir: "{{ playbook_dir | dirname }}"

- name: Stow cross-platform dotfiles
  ansible.builtin.command:
    cmd: "stow --restow --verbose --no-folding -d {{ dotfiles_dir }} -t {{ ansible_env.HOME }} {{ item }}"
  loop: "{{ stow_packages }}"
  register: stow_result
  changed_when: "'LINK:' in stow_result.stderr or 'UNLINK:' in stow_result.stderr"

- name: Stow macOS-only dotfiles
  ansible.builtin.command:
    cmd: "stow --restow --verbose --no-folding -d {{ dotfiles_dir }} -t {{ ansible_env.HOME }} {{ item }}"
  loop: "{{ stow_packages_macos }}"
  when: ansible_os_family == "Darwin"
  register: stow_result_macos
  changed_when: "'LINK:' in stow_result_macos.stderr or 'UNLINK:' in stow_result_macos.stderr"
